{% extends "layout.html.twig" %}

{% block title %}Mapping{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mapping
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Mapping</li>
                <li><a href="createMapping">Create</a></li>
            </ol>
        </div>
    </div>
   <!-- <a href="createMapping"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Mapping</button></a>-->
    <div class="tab-content">
        <div class="tab-pane fade in active" >
            {% if associations %}

                <div class="table-responsive">
                    <table class="table table-hover table-condensed viewTable" id="emails">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Event</th>
                            <th>Flow</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for association in associations %}
                            <tr>
                                <td>{{ association.id}}</td>
                                <td><a href="/event/{{ association.event.id }}/edit">{{association.event.name}}</a></td>
                                <td><a href="flow/{{ association.flow.id }}/edit">{{association.flow.name}}</a></td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#associationDialog{{ association.id }}"><span class="glyphicon glyphicon-trash"></span></button>

                                    <div class="modal fade" id="associationDialog{{ association.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really want to delete this association ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="/mapping/{{association.id}}/delete" class="btn btn-danger">Confirm</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% else %}
                <div class="alert alert-warning">No associations found ! </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
