{% extends "layout.html.twig" %}

{% block title %}Update Flow{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Update Flow
            </h1>
        </div>
    </div>

    <form action="#" method="post">
        {{form_start(flowForm)}}
        {{form_row(flowForm.name, {'label' : 'Name'}) }}
        {{form_row(flowForm.class, {'label' : 'Class'}) }}
        {{ form_row(flowForm.documentation, {'label' : 'Documentation'}) }}


        <input type="submit" name="submit" value="Update !" />
        {{form_end(flowForm)}}
    </form>
</div>
{% endblock %}
