{% extends "layout.html.twig" %}

{% block title %}Flow{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Flow
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/flows">View all flows</a></li>
                <li><a href="/createFlow">Create</a></li>
                <li class="active">Flow</li>
            </ol>

        </div>
    </div>
    <form action="#" method="post">
        {{form_start(flowForm)}}
        {{form_row(flowForm.name, {'label' : 'Name'}) }}
        {{form_row(flowForm.class, {'label' : 'Class'}) }}
        {{ form_row(flowForm.documentation, {'label' : 'Documentation'}) }}


        <input type="submit" name="submit" value="Save" />
        {{form_end(flowForm)}}
    </form>
</div>
{% endblock %}
