{% extends "layout.html.twig" %}

{% block title %}Add List{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Add List
			</h1>
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="et-helper">ExactTarget API Helper</a></li>
				<li class="active">Add List</li>
			</ol>
		</div>
	</div>
<form action="#" method="post">
	{{ form_start(listForm) }}
		{{ form_row(listForm.ListName, {'label' :'List Name'}) }}
		{{ form_row(listForm.Description, {'label':'Description'}) }}
		{{ form_row(listForm.Type, {'label':'Type' }) }}
		{{ form_row(listForm.CustomerKey, {'label' : 'Customer Key'}) }}
		{{ form_row(listForm.Category, {'label':'Category'}) }}
		 <input type="submit" name="submit" value="Add List" />
	{{ form_end(listForm) }}
   
</form>
	</div>
{% endblock %}
