{% extends "layout.html.twig" %}

{% block title %}New Subscriber{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">New Subscriber
				</h1>
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="et-helper">ExactTarget API Helper</a></li>
					<li class="active">New Subscriber</li>
				</ol>
			</div>
		</div>

<form action="#" method="post">
	{{ form_start(subForm) }}
		{{ form_row(subForm.EmailAddress, {'label':'Email Address'}) }}
		{{ form_row(subForm.SubscriberKey, {'label' :'Subscriber Key'}) }}
		{{ form_row(subForm.Status, {'label' : 'Status'}) }}
		
		 <input type="submit" name="submit" value="Add Subscriber" />
	{{ form_end(subForm) }}
        
</form>
	</div>
{% endblock %}