{% extends "layout.html.twig" %}

{% block title %}New Subscriber{% endblock %}

{% block content %}
	<h2 class="text-center">{{ block('title') }}</h2>
<form action="#" method="post">
	{{ form_start(subForm) }}
		{{ form_row(subForm.EmailAddress, {'label':'Email Address'}) }}
		{{ form_row(subForm.SubscriberKey, {'label' :'Subscriber Key'}) }}
		{{ form_row(subForm.Status, {'label' : 'Status'}) }}
		
		 <input type="submit" name="submit" value="Add Subscriber" />
	{{ form_end(subForm) }}
        
</form>
{% endblock %}