{% extends "layout.html.twig" %}

{% block title %}Add Trigger{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Add TriggeredSend
			</h1>
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="et-helper">ExactTarget API Helper</a></li>
				<li class="active">Add TriggeredSend</li>
			</ol>
		</div>
	</div>

<form action="#" method="post">
	{{form_start(triggerForm)}}
	{{form_row(triggerForm.Name, {'label':'Name'}) }}
	{{form_row(triggerForm.Description, {'label': 'Description'}) }}
	{{form_row(triggerForm.CustomerKey, {'label': 'Customer Key'}) }}
	{{form_row(triggerForm.Email, {'label':'Email'}) }}
	{{form_row(triggerForm.SendClassification, {'label':'Send Classification'}) }}
	 <input type="submit" name="submit" value="Create TriggeredSend" />
	 {{form_end(triggerForm)}}
   
</form>
	</div>
{% endblock %}
