{% extends "layout.html.twig" %}

{% block title %}Add List{% endblock %}

{% block content %}

<form action="#" method="post">
	{{form_start(triggerForm)}}
	{{form_row(triggerForm.Name, {'label':'Name'}) }}
	{{form_row(triggerForm.Description, {'label': 'Description'}) }}
	{{form_row(triggerForm.CustomerKey, {'label': 'Customer Key'}) }}
	{{form_row(triggerForm.Email, {'label':'Email'}) }}
	{{form_row(triggerForm.SendClassification, {'label':'Send Classification'}) }}
	 <input type="submit" name="submit" value="Create TriggeredSend" />
	 {{form_end(triggerForm)}}
   
</form>
{% endblock %}
