{% extends "layout.html.twig" %}

{% block title %}Wave API Helper{% endblock %}

{% block content %}
                <div class="tab-content">
                    <div class="tab-pane fade in active" >

                        <form action="#" method="post">
                            {{ form_start(requestForm) }}
                            {{ form_row(requestForm.Request, {'label': 'Request'}) }}
                            <input type="submit" name="submit" value="Send Request ! " />
                            {{ form_end(requestForm) }}
                        </form>

                        {% if results %}
                            <ul>
                                {% for key,value in results %}
                                    <li>{{ key }} : {{ value }}</li>

                                {% endfor %}
                            </ul>
                        {% else %}

                        {% if datasets %}
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed viewTable" id="datasets">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Version ID</th>
                                    </tr>
                                    </thead>
                                    {% for dataset in datasets %}
                                        <tr>
                                            <td>{{ dataset.name}}</td>
                                            <td>{{ dataset.id}}</td>
                                            <td>{{ dataset.versionId }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">No datasets found ! </div>
                        {% endif %}

                        {% endif %}

                    </div>
                </div>



{% endblock %}
