{% extends "layout.html.twig" %}

{% block title %}Wave API Helper{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Wave API Helper
            </h1>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" >

            <form action="#" method="post">
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.Request, {'label': 'Request'}) }}
                <input type="submit" name="submit" value="Send Request ! "/>
                {{ form_end(requestForm) }}
            </form>

            {% if history %}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed viewTable" id="requests">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                          {% for h in history %}
                                <tr>
                                    <td> {{ h.request }} </td>
                                    <td>  <a href="/resend/{{h.id}}"><button type="button" class="btn-default" title="Resend">Resend</button></a></td>
                                </tr>
                          {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">No history ! </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
